<div class="api">
    <div class="jumbotron">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">About the app</a></li>
                    <li><a href="/api">Public API</a></li>
                </ul>
            </nav>

            <h1>StarCraft II Calendar API</h1>
            <p class="lead">This project fetches information on premier StarCraft II events and generates feeds as general purpose <code>.json</code> format or in a <code>.ics</code> calendar format that can be imported in Google Calendar, Outlook, iCal and most other calendar applications.</p>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>How it works</h2>
                <p>Import the urls ending with <code>.ics</code> in your favorite calendar application. Once the feed is added, it will automatically be kept up to date by your software.</p>
                <p>The same information is also available as <code>json</code> format, should you wish to use the information in another precise way.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Schedule</h2>

                <h4>Calendar file</h4>
                <p><code>http://starcraftcalendar.francoisfaubert.com/calendar/sc2/events.ics</code></p>

                <h4>JSON data</h4>
                <p><code>http://starcraftcalendar.francoisfaubert.com/api/sc2/events.json</code></p>

            </div>
            <div class="col-md-6">
                <h2>Scores</h2>

                <h4>Calendar file</h4>
                <p><code>http://starcraftcalendar.francoisfaubert.com/calendar/sc2/scores.ics</code></p>

                <h4>JSON data</h4>
                <p><code>http://starcraftcalendar.francoisfaubert.com/api/sc2/scores.json</code></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <h2>Latest events</h2>

                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <!-- <th>End date</th> -->
                    </thead>
                    <tbody>
                    <% if @events.length > 0 %>
                        <% @events.each do |event| %>
                            <tr class="<%= event.passed? ? "muted" : "" %><%= event.today? ? "highlighted" : "" %>">
                                <td><%= event.name; %></td>
                                <td>
                                    <time datetime="<%= event.start_date_utc; %>" data-title="true" title="<%= event.start_date; %>">
                                        <%= event.start_date; %>
                                    </time>
                                </td>
                             <!--   <td>
                                    <% if event.has_end_date? %>
                                        <time datetime="<%= event.end_date_utc; %>" data-title="true" title="<%= event.end_date; %>">
                                            <%= event.end_date; %>
                                        </time>
                                    <% end %>
                                </td> -->
                            </tr>
                        <% end %>
                    <% else %>
                        <tr>
                            <td colspan="2">
                                There are currently no events planned.
                            </td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h2>Latest scores</h2>

                <% if @series.length > 0 %>
                    <% @series.each do |serie| %>
                        <table class="table table-striped scores">
                            <thead>
                                <th colspan="2">
                                    <%= serie.name; %>
                                    <time datetime="<%= serie.start_date_utc; %>" data-title="true" title="<%= serie.start_date; %>">
                                        <%= serie.start_date; %>
                                    </time>
                                </th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%= serie.player1 %></td>
                                    <td class="score"><%= serie.player1_score %></td>
                                </tr>
                                <tr>
                                    <td><%= serie.player2 %></td>
                                    <td class="score"><%= serie.player2_score %></td>
                                </tr>
                            </tbody>
                        </table>
                    <% end %>
                <% else %>
                    <table class="table table-striped">
                        <thead><th colspan="2"></th></thead>
                        <tbody>
                            <tr>
                                <td colspan="3">
                                    There are currently no scores availabled.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <% end %>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>Thanks</h3>
                <p>This crawls the list of every WCS StarCraft 2 events listed on <a href="http://wcs.battle.net">wcs.battle.net</a>.</p>
                <p>The tool was not created by and is not directly maintained by Blizzard. All my thanks go to Blizzard for their regular updates which I, in turn, pull out to generate the calendars.</p>
                <p>I hope you will find this tool useful. Your feedback is appreciated.</p>
                <p>~ <a href="https://www.twitter.com/francoisfaubert/">@francoisfaubert</a></p>
            </div>
            <div class="col-md-6">
                <h3>Fork me</h3>
                <p>There have been other people who have coded similar calendars along the way. Many of the previous projects have stopped being maintained along the way, which is the way of things I guess. I have published the code for this website on GitHub in case I can no longer maintain the website and someone else wants to have a starting point to bring the calendars back online.</p>
                <ul>
                    <li><a href="https://github.com/francoisfaubert/starcraft-calendar">Visit on GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="col-md-1 col-md-offset-3"><i class="glyphicon glyphicon-calendar"></i></div>
            <div class="col-md-5">
                <p>Starcraft II is a trademark of <a href="http://us.blizzard.com/">Blizzard Entertainment</a>, go buy it. It is an awesome game.</p>
                <p>Everything you see here that does not belong to Blizzard is opened-sourced and can be found on my <a href="https://github.com/francoisfaubert/">GitHub.com</a></p>
            </div>
        </div>
    </footer>
</div>

<a href="https://github.com/francoisfaubert/starcraft-calendar"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png"></a>
